<div class="col-md-8 column">
    <div class="jumbotron">
        <h1>
            <%= params.data.title %>
        </h1>
        <p>
            <%= params.data.content %>
        </p>
        
    </div>
</div>
