<div class="col-md-8 column">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">

        <form role="form" id="signupForm" method="post" action="/signup">
            <div class="form-group">
                <label for="usernameInput">用户名（最短3个字母）</label>
                <input class="form-control" id="usernameInput" name="username" type="text" required minlength="3" />
            </div>
            <div class="form-group">
                <label for="userEmailInput">邮箱（必需）</label>
                <input class="form-control" id="userEmailInput" type="email" required name="email" />
            </div>
            <div class="form-group">
                <label for="userPasswordInput">密码（不能为空）</label>
                <input class="form-control" id="userPasswordInput" type="password" name="password" />
            </div>
            <div class="form-group">
                <label for="userPasswordInput2">再次输入密码</label>
                <input class="form-control" id="userPasswordInput2" type="password" name="password2" />
            </div>

            <button type="submit" class="btn btn-default">注册</button>
        </form>
    </div>
    <div class="col-md-4 column">
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#signupForm").validate({
            rules: {
                userPasswordInput: {
                    required: true,
                    minlength: 1
                },
                userPasswordInput2: {
                    required: true,
                    minlength: 1,
                    equalTo: "#userPasswordInput"
                }
            },
            messages: {
                userPasswordInput: {
                    required: '密码不能为空',
                    minlength: '密码长度不能少于6个字符'
                },
                userPasswordInput2: {
                    required: '密码不能为空',
                    minlength: '密码长度不能少于6个字符',
                }
            }
        })
    })
</script>