<div class="col-md-8 column">
    <form role="form" id="writeForm" method="post" action="/write">
        <div class="form-group">
            <label for="titleId">标题</label>
            <input class="form-control" id="titleId" name="title" type="text" required  />
        </div>
        <div class="form-group">
            <label for="contentId">内容</label>
            <textarea class="form-control" name="content" id="contentId" cols="80" rows="40"></textarea>
        </div>
        

        <button type="submit" class="btn btn-default pull-right" >发布</button>
    </form>

</div>